<%= search_form_for @p, url: toilets_searchtoilet_path, class: "search-form" do |f| %>
<%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, {include_blank:"--"}, {class: "search-pulldown"} %>
<%= f.search_field :city_or_address_or_building_cont, placeholder: "トイレを検索する", class: "search-input" %>
<%= f.submit '検索', class: "search-btn" %>
<% end %>

<div class="contents row">
  <ul class="toilet_lists">
  <% @toilets.each do |toilet| %>
    <li class="toilet_list">
    <%= link_to toilet_path(toilet.id) do %>
    <%= image_tag toilet.image, class: "toilet-img" %>
    <div id="star-rate<%= toilet.id%>">Avg.</div>
    
      <script>
        $('#star-rate<%= toilet.id%>').raty({
          size : 36,
          starOff : '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf : '<%= asset_path('star-half.png') %>',
          half : true,
          readOnly: true,
          score: '<%= toilet.comments.average(:rate).to_f.round(1) %>',
        });
      </script>
    <% end %>
  <% end %>
  </li>
  </ul>
  <%= paginate @toilets %>
</div>