<%= form_with(url: search_toilets_path, local: true, method: :get, class: "search-form") do |f| %>
  <%# <%= f.collection_select :place_cont, Prefecture.all, :id, :name %>
  <%= f.text_field :keyword, placeholder: "トイレを検索する", class: "search-input" %>
  <%= f.submit "検索", class: "search-btn" %>
<% end %>

<div class="contents row">
  <% @toilets.each do |toilet| %>
  <%= link_to toilet_path(toilet.id) do %>
  <%= image_tag toilet.image, class: "toilet-img" %>

  <% end %>
  <% end %>
</div>