<div class="contents row">
  <div class='toilet-img-content'>
    <%= image_tag @toilet.image ,class:"toilet-box-img" %>
  </div>

  <table class="detail-table">
    <tbody>
      <tr>
        <th class="detail-toilet">都道府県</th>
        <td class="detail-value"><%= @toilet.prefecture.name %></td>
      </tr>
      <tr>
        <th class="detail-toilet">市区町村</th>
        <td class="detail-value"><%= @toilet.city %></td>
      </tr>
      <tr>
        <th class="detail-toilet">番地</th>
        <td class="detail-value"><%= @toilet.address %></td>
      </tr>
      <tr>
        <th class="detail-toilet">建物名</th>
        <td class="detail-value"><%= @toilet.building %></td>
      </tr>
      <tr>
        <th class="detail-toilet">何トイレ</th>
        <td class="detail-value"><%= @toilet.sex.name %></td>
      </tr>
      <tr>
        <th class="detail-toilet">種類</th>
        <td class="detail-value"><%= @toilet.type.name %></td>
      </tr>
      <tr>
        <th class="detail-toilet">ウォシュレット</th>
        <td class="detail-value"><%= @toilet.washlet.name %></td>
      </tr>
      <tr>
        <th class="detail-toilet">状態</th>
        <td class="detail-value"><%= @toilet.clean.name %></td>
      </tr>
      <tr>
        <th class="detail-toilet">情報</th>
        <td class="detail-value"><%= @toilet.info %></td>
      </tr>
    </tbody>
  </table>

    <% if current_user.id == @toilet.user_id %>
    <ul class="more_list">
      <li>
        <%= link_to '編集', edit_toilet_path, method: :get, class: "toilet-edit" %>
      </li>
      <li>
        <%= link_to '削除', toilet_path, method: :delete, class: "toilet-destroy" %>
      </li>
    </ul>
    <% end %>

    <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@toilet, @comment], local: true) do |f| %>
        <%= f.text_area :text, placeholder: "コメントする", rows: "2" %>

        <div class="form-group row" id="star">
        <%= f.label :star,'評価 ', class:'col-md-3 col-form-label' %>
        <%= f.hidden_field :star, id: :review_star %>
        </div>

        <script>
        $('#star').raty({
          size : 36,
          starOff : '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          half: false,
          scoreName: 'comment[rate]',
        });
        </script>

        <%= f.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
            <div id="star-rate<%= comment.id%>"></div>

            <script>
              $('#star-rate<%= comment.id%>').raty({
                size : 36,
                starOff : '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                half : false,
                readOnly: true,
                score: <%= comment.rate %>,
              });
            </script>
            
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>